.footer {
    position: relative;
    padding-bottom:rem(20) ;

    &__text {
        color: #000000;
        font-family: Lato;
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
        &--center{
            position: absolute;
            bottom: 0;
            left: 35%;
            padding-bottom: rem(20);
        }
    }

    &__link {
        color: #000000;
        font-family: Lato;
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: rem(12);
    }
}
.footer-body {
    @include dflex(center, wrap, space-between);
}
