.footer {
    p{
        font-size: rem(17);
    }
    &__body {
        @include dflex(center,wrap,space-between);
    }

    &__text {
        color: #000000;
        font-family: Lato;
        
        font-weight: 300;
        text-transform: uppercase;
    }

    &__menu {
        transform: translateX(-110px);
        


    }
    &__list{
        @include dflex(center,wrap,space-between);
        
    }

    &__item {
        font-family: Lato;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        list-style-type: none;
        margin-right:rem(16) ;
        a{
            text-decoration: none;
            color: #000000;
        }
    }
}