.wrapper{
    width:rem(1335);
    margin: 0 auto;
}


.header {
    position: relative;
    padding: rem(22) 0 0 0;
    margin: 0 0 rem(82) 0;

}
.header__body{
    @include dflex(center, wrap, space-between);

}
.link{
    
    text-decoration: none;
    font-family: Lato;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;           
    color: #000000;
    margin: 0 rem(25) 0 0;
}
.container {
    padding: 0 rem(30);
    margin: 0 auto;
}
.header-list {
    padding-left: 0;
     display: block;
     @include dflex(center, wrap, flex-start);
    
    list-style-type: none;

		&__item {
           
           

		}
}
.header-logo {

		&__img {
		}
}
.img {
}
