@import "./utils/mixins";
@import "./config/vendor";
@import "./config/default-variables";
@import "./config/global";
@import "./utils/functions";

// ._container { 
//   // @include container(rem($wrapRem));
//   width: 100%;
//   max-width: rem(1510);
//   padding: 0 rem(20);
//   margin: 0 auto;
//   @media (max-width:1370px){
//     max-width: rem(1310);
//   }
// }

.container{
  width: 100%;
  max-width: rem($wrapRem);
  margin: 0 auto;
  padding: 0 rem(20);
}

.header{
  padding-top:0;
}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
 
}
.main{
  flex: 1 1 auto;
}
.button {
  width: 100%;
  // max-width: rem(225);
  // width: rem(225);
  // padding: 0 rem(50);

    height: rem(50);
    border: none;
    background:  linear-gradient(94.53deg, #D333F9 10.41%, #F9437E 99.34%);
    font-weight: 700;
    font-size: rem(12);
    line-height: rem(15);
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.97);
    cursor: pointer;
    
}

@import "./components/blocks/header";
@import "./components/blocks/menu";
@import "./components/blocks/_footer";
@import "./components/blocks/contact";
@import "./components/blocks/news";
@import "./components/blocks/affiliate";
@import "./components/blocks/new";
@import "./components/blocks/agency";
@import "./components/blocks/marketplace";
@import "./components/blocks/studio";
@import "./components/blocks/nft";



// MAIN PAGE