.about {
    margin-bottom: rem(180);

    &__body {
        @include dflex(center, wrap, space-between);
    }

    &__column {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        flex: 0 0 50%;
    }
}

.item-column {

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;

        &--1 {
            width: rem(522);
            height: rem(322);
        }

        &--2 {
            width: rem(564);
            height: rem(403);
        }
    }

    &__title {
        color: #000000;
        font-family: Lato;
        font-size: 20px;
        font-weight: 300;
        line-height: normal;
        text-align: left;
        text-transform: uppercase;
    }

    &__text {}

    &__subtitle {}

    &__img {}

    &__text-2 {
        color: #231f20;
        font-family: Lato;
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 37.95px;
        text-align: left;
    }


}

.img-about {
    width: 100%;

}