.products {

    @include dflex(center, wrap, space-between);
    margin: rem(30) 0 rem(172) 0;

    &__column {
        width: 100%;
        flex: 1 0 25%;
        height: rem(700);
        margin-bottom: rem(41);
        transition-duration: 0.5;
        &:hover{
            transform: rotateY(180deg);
        }
        
        
    }
}
.item-products {

    &__body{
        @include dflex(flex-start, no-wrap, space-between);
        padding: rem(30) rem(30) 0 rem(30);

        
    }

    &__image {
        width: 100%;
        height: auto;
        margin: 0;
        &:hover{
            transform: rotateY(180deg);
        }

        img{
           width: 100%;
           height: rem(598);
         
           }
    }

    &__name {
        
        margin: 0 0 rem(5) 0;
        color: #070707;
        font-family: Lato;
        font-size: 12px;
        font-weight: 300;
        text-align: left;
        text-transform: uppercase;

    }

    
}
.item-products__colors{
    @include dflex(center,wrap,flex-start);
    padding:  0 0 0 rem(30);
    margin-top: rem(19);
    
}
.item-products {
    
  
   

    &__color--gray {
        width: 8px;
        height: 8px;
        background-color: #c7c7c7;
        border-radius: 50%;
        margin-right: rem(7);
    }

    &__color--lgray {
        width: 8px;
        height: 8px;
        background-color: #e9e9e9;
        border-radius: 50%;
        margin-right: rem(7);
    }

    &__color--gold {
        width: 8px;
        height: 8px;
        background-color: #d9b982;
        border-radius: 50%;
        margin-right: rem(7);
    }

    &__color--db {
        width: 8px;
        height: 8px;
        background-color: #d0c398;
        border-radius: 50%;
        margin-right: rem(7);
    }

    &__color--lb {
        width: 8px;
        height: 8px;
        background-color: #e9dfbd;
        border-radius: 50%;
        margin-right: rem(7);
    }

    &__color--black {
        width: 8px;
        height: 8px;
        background-color: #020202;
        border-radius: 50%;
        margin-right: rem(7);
    }
}

