.shop-header {
      position: relative;


}


.main {
      margin-top: rem(-20);
}

.filters {
      position: relative;
      margin-top: rem(120);
      padding-bottom: rem(41);


      &__container {}

      &__body {
            @include dflex(center, wrap, space-between);
      }

      &__item {
            color: #000000;
            font-family: Lato;
            font-size: rem(16);
            font-weight: 300;
            text-transform: uppercase;
            text-decoration: none;

            &:hover {
                  text-decoration: underline;
            }
      }
}

.filters-menu {
      position: absolute;
      top: 0;
      left: 0;

      &__column {}

      &__name {}

      &__body {
            @include dflex(center, wrap, flex-start);
      }

      &__item {}
}


.products {
      margin-bottom: rem(165);

      &__body {
            @include dflex(center, wrap, space-between);
      }

      &__column {
            position: relative;
            flex: 1 1 25%;
            height: rem(770);
      }
}

.item-column {

      &__img {}

      &__body {
            @include dflex(flex-start, wrap, space-between);
            padding: rem(38) rem(50) 0 rem(50);
      }

      &__price {
            color: #070707;
            font-family: Lato;
            font-size: rem(16);
            font-weight: 300;
            text-transform: uppercase;
      }

      &__icon {
            cursor: pointer;
      }

      &__circles {
            @include dflex(center, wrap, flex-start);
            padding-left: rem(50);
            padding-bottom: rem(50);
            margin-top: rem(25);
      }

      &__circle {
            margin-right: rem(11);
            cursor: pointer;
      }
}

.product-image {
      z-index: 2;
      width: 100%;
      position: relative;
      transition: 0.5s;

      &__active {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
      }

      &:hover {
            opacity: 0;
            transition: 0.5s;
      }

}